<% provide :title, t("help.title") %>
<h1><%= t "help.title" %></h1>
<p>
  <%= t "help.st1" %>
  <a href="http://www.railstutorial.org/help"><%= t "help.st2" %></a>.
  <%= t "help.st3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t "rort" %>
  </em><%= t "help.st4" %></a>.
</p>
