<h1><%= t "password.title" %></h1>

<p><%= t "password.click" %></p>

<%= link_to t("password.reset"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "password.expire" %></p>

<p><%= t "password.warning" %></p>
